.profileDetails{
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 10%;
    text-align: center;
    margin-top: 10px;
    padding: 15px;
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
}

.profieQr{

    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 10%;
    text-align: center;
    margin-top: 10px;
    padding: 15px;
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
    
}

.profile{
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 480px) {
    .profileDetails{
        width:20%
    }
    .profieQr{
        width: 20%;
    }
    
}

@media (max-width: 480px){

    .profileDetails{
        width: 60%;
    }

    .profieQr{
        width: 60%;
    }

}